.Compétence {
  float: right;
}
body {
  background-size: cover;
  background-image: url(https://images8.alphacoders.com/503/thumb-1920-503792.jpg);
  font-family: 'Pirata One', cursive;
}
html {
  font-size: xx-large;
}
h1 {
  text-align: center;
}
progress {
    width:250px;
    padding:1px;
    background-color:white;
    border:1px solid black;
    height:28px;
  }
  .planet{
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    overflow:hidden;
    box-shadow: 0 0 60px -20px #251303, -14px -15px 40px -10px #251303;
    left:77%;
    top:-8%;
    margin:100px;
  }
  .planet .mask{
    width:100%;
    height:100%;
    position: absolute;
    box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px #251303;
    border-radius:50%;
  }
  .planet .background{
    animation: translateBackground 10s infinite linear;
    background:url(moi.jpg) repeat-x;
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
  }
  .planet .clouds{
    background:url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    animation: translateBackground 10s infinite linear;
    opacity: 0.0;
  }
  .planet .wrap{
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    animation: rotatePlanet infinite linear;
  }
  @keyframes translateBackground{
    0%{
      background-position-x:0;
    }
    100%{
      background-position-x:-500px;
    }
  }
  @keyframes rotatePlanet{
    0%{
      transform:rotateZ(0);
    }
    100%{
      transform:rotateZ(-360deg);
    }
